html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    font-family: 'Ubuntu', sans-serif;
    color: #000333;
}