html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #eff7fb;
    color: #000333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}

.currency-article {
    width: 95%;
    max-width: 600px;
}

.currency-article__link-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 15px;
    height: 15px;
    background: url("../images/link-icon.svg") no-repeat center center;
    background-size: 100% auto;
    display: inline-block;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%) rotate(45deg);
    transform-origin: center;
    transition:
      transform 0.4s ease-in-out,
      opacity 0.4s ease-in-out,
      color 0.4s ease-in-out;
}

.currency-article__title {
    text-align: center;
}

.currency-article__image {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.currency-article__table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.currency-article__table-link {
    color: #000333;
    display: block;
    overflow: hidden;
    padding: 12px;
    text-decoration: none;
    text-overflow: ellipsis;
}

.currency-article__table td:hover .currency-article__table-link {
    color: #ff9900;
    text-shadow: 1px 1px 1px rgba(0, 3, 51, 0.7);
    background-color: #dde9ec;
    box-shadow: inset 1px 1px 3px #adc2ff;
    transition:
      background-color 0.4s ease-in-out,
      box-shadow 0.4s ease-in-out,
      color 0.2s ease-in-out,
      text-shadow 0.3s ease-in-out;
}

.currency-article__table td:hover .currency-article__link-icon {
    opacity: 0.7;
    transform: translateY(-50%) rotate(0);
}

.currency-article__table th {
    width: 33.3333%;
    background-color: #f1f1f1;
    padding: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.currency-article__table th,
.currency-article__table td {
    border: 1px solid #c9c9c9;
    text-align: center;
}

.currency-article__table td {
    position: relative;
    padding: 0;
}

.currency-article__table th:hover,
.currency-article__table td:hover {
    cursor: default;
}

.currency-article__table-currency {
    text-transform: uppercase;
}